<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord OAuth2</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/gg-sans-2');
        :root {
            --background: #313338;
            --primary: ;
            --light: #F7EEEE;
            --dark: #000000;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'gg sans Medium', sans-serif;
        }

        body {
            background: var(--background);
            color: var(--light);

            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button {
            
            color: var(--light);

            font-size: 18px;
            text-align: center;
            text-decoration: none;

            padding: 10px 20px;

            border-radius: 3px;
            transition: all 0.2s ease-in-out;
        }

        .button svg {
            margin-left: 10px;
            vertical-align: middle;
        }

        .primary {
            background-color: #5865f2;
        }

        .primary:hover {
            background-color: #4752c4;
        }

        .danger {
            background-color: #ed4245;
        }

        .danger:hover {
            background-color: #a12828;
        }
    </style>
</head>

<body>
    <div class="buttons">
        <% if (page === 'login') { %>
            <a href="/login" class="button primary">Click here to login! 
                <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                    <path d="M5.5 16c5 2.5 8 2.5 13 0M15.5 17.5l1 2s4.171-1.328 5.5-3.5c0-1 .53-8.147-3-10.5-1.5-1-4-1.5-4-1.5l-1 2h-2" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.528 17.5l-1 2s-4.171-1.328-5.5-3.5c0-1-.53-8.147 3-10.5 1.5-1 4-1.5 4-1.5l1 2h2" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.5 14c-.828 0-1.5-.895-1.5-2s.672-2 1.5-2 1.5.895 1.5 2-.672 2-1.5 2zM15.5 14c-.828 0-1.5-.895-1.5-2s.672-2 1.5-2 1.5.895 1.5 2-.672 2-1.5 2z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        <% } else { %>
            <a href="/dashboard" class="button primary">Click here to go to the dashboard! 
                <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M19.622 10.395l-1.097-2.65L20 6l-2-2-1.735 1.483-2.707-1.113L12.935 2h-1.954l-.632 2.401-2.645 1.115L6 4 4 6l1.453 1.789-1.08 2.657L2 11v2l2.401.655L5.516 16.3 4 18l2 2 1.791-1.46 2.606 1.072L11 22h2l.604-2.387 2.651-1.098C16.697 18.831 18 20 18 20l2-2-1.484-1.75 1.098-2.652 2.386-.62V11l-2.378-.605z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            <br>
            <a href="/logout" class="button danger">Logout</a>
        <% } %>
    </div>
</body>

</html>